<h1>Sign Up</h1>
<span>Come <em>Get Lost</em> with us!</span>
<div class="ui section divider"></div>
<div class="ui segment">
  <div class="ui two column centered grid">
    <div class="column">
      <div class="ui form">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
