<%= render 'signup' do %>
  <%= form_for @user, url: validate_path do |f| %>
    <%= render 'info', f: f %>
    <div class="ui centered grid">
      <div class="row">
        <%= f.submit "Continue", class: 'ui primary button' %>
      </div>
    </div>
  <% end %>
<% end %>
