<h1><%= "Welcome #{current_user.first_name}!" %></h1>
<h3>Are you ready to <em>Get Lost</em>?</h3>
<div class="ui section divider"></div>
<div class="ui list">
  <%= link_to "Add an Adventure", adventures_path, class: 'item' %>
  <div class="item">My Saved Adventures</div>
  <div class="item">
    <div class="list">
    <% current_user.adventures.each do |adv| %>
      <div class="item">
      <%= link_to adv.location, adventure_path(adv) %>
      <%= link_to "Delete", user_adventure_path(adv), method: :delete %>
      </div>
    <% end %>
    </div>
  </div>
</div>
<br><br>
