<h1><%= "Welcome, #{current_user.first_name}!" %></h1>
<%= link_to "Settings", settings_path %>
<br><br>
<%= form_tag logout_path, method: :delete do %>
  <%= submit_tag "logout" %>
<% end %>



<%# Welcome back current_user! Are you ready to get lost? %>
