<h1>Get Lost!</h1>

<p>Do you ever feel overwhelmed by the crowded city traffic, glaring lights, and overwhelming sounds?</p><br><br>

<p>Do you ever wish for quiet, open spaces lending you the chance to forget your daily stresses, and just <em>drive away</em> your worries?</p><br><br>

<p>That’s why we created <em>Get Lost</em>. It’s an opportunity to take off for a Sunday drive with little forethought. Spontaneity deserves to be rewarded with bliss!</p><br><br>

<h2>Come and take an adventure with us and <em>Get Lost</em>!</h2>
<div><%= link_to "Already Experienced? Sign in", login_path %></div>
<div><%= link_to "Don't have an account? Sign up", signup_path %></div>
