<h1>Get Lost!</h1>

<!-- <p>Find me in app/views/welcome/index.html.erb</p> -->


<p>Do you ever feel overwhelmed by the crowded city traffic, glaring lights, and overwhelming sounds?</p><br><br>

<p>Do you ever wish for quiet, open spaces lending you the chance to forget your daily stresses, and just _drive away_ your worries?</p><br><br>

<p>That’s why we created *Get Lost*. It’s an opportunity to take off for a Sunday drive with little forethought. Spontaneity deserves to be rewarded with bliss!</p><br><br>

<h2>Come and take an adventure with us and *Get Lost*!</h2>
